params {
  // Reader
  technology = 'merscope'

  // Patches
  patch_width_pixel = 6000
  patch_overlap_pixel = 150
  prior_shapes_key = 'auto'

  // Baysor
  use_baysor = true
  baysor_scale = 6.25
  min_molecules_per_cell = 10
  min_molecules_per_gene = 0
  min_molecules_per_segment = 3
  confidence_nn_id = 6
  prior_segmentation_confidence = 0.75

  // Filtering
  min_area_microns2 = 20
  min_transcripts = 10

  // Aggregation
  aggregate_channels = true

  // Explorer
  pixel_size = 0.108
}
