params {
  // Reader
  technology = 'merscope'

  // Patches
  patch_width_pixel = 6000
  patch_overlap_pixel = 150

  // Cellpose
  use_cellpose = true
  cellpose_diameter = 60
  cellpose_channels = 'DAPI'
  flow_threshold = 2
  cellprob_threshold = -6

  // Filtering
  min_area_pixels2 = 2000
  min_transcripts = 10

  // Aggregation
  aggregate_channels = true

  // Explorer
  pixel_size = 0.108
}
