params {
  // Reader
  technology = 'phenocycler'

  // Patches
  patch_width_pixel = 3000
  patch_overlap_pixel = 40

  // Cellpose
  use_cellpose = true
  cellpose_diameter = 24
  cellpose_channels = 'DAPI'
  flow_threshold = 2
  cellprob_threshold = -6

  // Filtering
  min_area_pixels2 = 120
  min_intensity_ratio = 0.1

  // Aggregation
  aggregate_channels = true
  expand_radius_ratio = 0.1

  // Explorer
  pixel_size = 0.25
}
