params {
  // Reader
  technology = 'visium_hd'

  // Patches
  patch_width_pixel = 2000
  patch_overlap_pixel = 50

  // Stardist
  use_stardist = true

  // Proseg
  use_proseg = true
  visium_hd_prior_shapes_key = "stardist_boundaries"

  // Filtering
  min_area_pixels2 = 30
  min_transcripts = 10

  // Aggregation
  aggregate_channels = true
}
