params {
  // Reader
  technology = 'xenium'

  // Patches
  patch_width_microns = 1000
  patch_overlap_microns = 20

  // Baysor
  use_baysor = true
  baysor_scale = 6.25
  min_molecules_per_cell = 10
  min_molecules_per_gene = 0
  min_molecules_per_segment = 3
  confidence_nn_id = 6
  prior_segmentation_confidence = 0

  // Filtering
  min_area_microns2 = 20
  min_transcripts = 10

  // Aggregation
  aggregate_channels = true
}
