params {
  // Reader
  technology = 'xenium'

  // Patches
  patch_width_pixel = 6000
  patch_overlap_pixel = 150
  patch_width_microns = 1000
  patch_overlap_microns = 20

  // Cellpose
  use_cellpose = true
  cellpose_diameter = 30
  cellpose_channels = 'DAPI'
  flow_threshold = 2
  cellprob_threshold = -6

  // Baysor
  use_baysor = true
  baysor_scale = 6.25
  min_molecules_per_cell = 10
  min_molecules_per_gene = 0
  min_molecules_per_segment = 3
  confidence_nn_id = 6
  prior_segmentation_confidence = 1

  // Filtering
  min_transcripts = 10
  min_area_pixels2 = 400
  min_area_microns2 = 20

  // Aggregation
  aggregate_channels = true
}
