params {
  read = [
    technology: 'xenium'
  ]
  patchify = [
    patch_width_microns: -1,
    patch_overlap_microns: 0,
  ]
  segmentation = [
    proseg: [
      prior_shapes_key: 'auto'
    ]
  ]
  aggregate = [
    aggregate_channels: true,
    min_transcripts: 10,
  ]
  explorer = [
    ram_threshold_gb: 4
  ]
}
