/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: SPACERANGER_COUNT {
        ext.args = '--create-bam="false"'
        publishDir = [
            path: { "${params.outdir}/${meta.sample}_spaceranger" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'DOWNLOAD_CELLPOSE_MODEL|PATCH_SEGMENTATION_CELLPOSE|RESOLVE_CELLPOSE' {
        ext.cellpose_v4 = { params.cellpose_version?.toString() == '4' }

        container = {
            def singularity = workflow.containerEngine in ['singularity', 'apptainer'] && !task.ext.singularity_pull_docker_container
            def gpu = workflow.profile.tokenize(',').contains('gpu')
            task.ext.cellpose_v4
                ? (gpu
                    ? (singularity
                        ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/67/671fb3f9bda5ec16374e0e3e205a9c6ffc70ae1c026a545b5a279e7ceb0eb30b/data'
                        : 'community.wave.seqera.io/library/python_sopa_pytorch-gpu_cuda-version_pruned:f8ad553fec147735')
                    : (singularity
                        ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/77/772148940c7b9c9d6534e7171b62e91054f64074b8aa993a00808a63b08c5921/data'
                        : 'community.wave.seqera.io/library/python_sopa_git_pip_pruned:6cb26eea74b966e9'))
                : (gpu
                    ? (singularity
                        ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ce/ce822fd366041478434e9969270adc4d7d7e6ce3600c8a20e668d1cd9892792f/data'
                        : 'community.wave.seqera.io/library/python_sopa_cellpose_pytorch-gpu_cuda-version:27dd8cb2cf96f33b')
                    : (singularity
                        ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/22/22d62d6425b70620138ad8764139528c1acaabf6cd06403134c8439caa1c9a31/data'
                        : 'community.wave.seqera.io/library/python_sopa_cellpose:d098579826bbcf24'))
        }
    }
}
