process {
    executor = 'slurm'
    containerOptions = '--user $(id -u):$(id -g)'
    errorStrategy = 'retry'
    maxRetries = 2

    // Lightweight tasks: Fits into the standard partition
    withLabel: process_single {
        queue = 'standard'
        time = 2.d
        resourceLimits = [
            cpus: 4,
            memory: 30.GB,
        ]
    }

    // Low resource tasks: Use nf-standard-mem
    withLabel: process_low {
        queue = 'nf-standard-mem'
        time = 2.d
        resourceLimits = [
            cpus: 8,
            memory: 60.GB,
        ]
    }

    // Medium resource tasks: Use nf-standard-mem or nf-high-mem
    withLabel: process_medium {
        queue = 'nf-high-mem'
        time = 2.d
        resourceLimits = [
            cpus: 16,
            memory: 120.GB,
        ]
    }

    // High resource tasks: Use nf-high-mem
    withLabel: process_high {
        queue = 'nf-high-mem'
        time = 2.d
        resourceLimits = [
            cpus: 16,
            memory: 120.GB,
        ]
    }

    // Long-running tasks: Use high partition for extended time
    withLabel: process_long {
        queue = 'high'
        time = 2.d
        resourceLimits = [
            cpus: 32,
            memory: 250.GB,
        ]
    }

    // Memory-intensive tasks: Use high partition for maximum memory
    withLabel: process_high_memory {
        queue = 'high'
        time = 2.d
        resourceLimits = [
            cpus: 32,
            memory: 250.GB,
        ]
    }
}

aws {
    client {
        anonymous = true
    }
}
