/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sopa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/tests/samplesheet.csv"

    read.technology = "toy_dataset"


    patchify = [
        patch_width_microns: 400,
        patch_overlap_microns: 20,
    ]

    segmentation.baysor = [
        min_area: 10,
        config: [
            data: [
                force_2d: true,
                min_molecules_per_cell: 10,
                x: "x",
                y: "y",
                z: "z",
                gene: "genes",
                min_molecules_per_gene: 0,
                min_molecules_per_segment: 3,
                confidence_nn_id: 6,
            ],
            segmentation: [
                scale: 3,
                scale_std: "25%",
                prior_segmentation_confidence: 0,
            ],
        ],
    ]

    aggregate = [
        aggregate_channels: true,
        min_transcripts: 5,
    ]

    annotation = [
        method: "tangram",
        args: [
            sc_reference_path: "https://github.com/gustaveroussy/sopa/raw/refs/heads/main/tests/toy_tangram_ref.h5ad",
            cell_type_key: "ct",
        ],
    ]

    explorer = [
        ram_threshold_gb: 4,
        pixel_size: 0.1,
    ]
}
