/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/sopa -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/tests/samplesheet.csv"

    read.technology = "toy_dataset"
    read.kwargs.genes = 500

    patchify.patch_width_microns = -1
    patchify.patch_overlap_microns = 0

    segmentation.proseg.prior_shapes_key = "auto"

    aggregate.aggregate_channels = true
    aggregate.min_transcripts = 5

    explorer.ram_threshold_gb = 4
    explorer.pixel_size = 0.1
}
