/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sopa -profile test_comseg,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name = 'Test profile with Comseg'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/tests/samplesheet.csv"

    // Reader
    technology = "toy_dataset"

    // Patches options
    patch_width_microns = 400
    patch_overlap_microns = 20
    prior_shapes_key = "cells"

    // Comseg segmentation
    use_comseg = true
    mean_cell_diameter = 15
    max_cell_radius = 25
    alpha = 0.5
    min_rna_per_cell = 5

    // Filtering
    min_area = 10
    min_transcripts = 5

    // Aggregation
    aggregate_channels = true

    // Explorer
    ram_threshold_gb = 4
    pixel_size = 0.1
}
