/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sopa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/tests/samplesheet.csv"

    read.technology = "toy_dataset"

    patchify.patch_width_microns = 400
    patchify.patch_overlap_microns = 20

    segmentation.baysor.min_area = 10

    segmentation.baysor.config.data.force_2d = true
    segmentation.baysor.config.data.min_molecules_per_cell = 10
    segmentation.baysor.config.data.x = "x"
    segmentation.baysor.config.data.y = "y"
    segmentation.baysor.config.data.z = "z"
    segmentation.baysor.config.data.gene = "genes"
    segmentation.baysor.config.data.min_molecules_per_gene = 0
    segmentation.baysor.config.data.min_molecules_per_segment = 3
    segmentation.baysor.config.data.confidence_nn_id = 6
    segmentation.baysor.config.segmentation.scale = 3
    segmentation.baysor.config.segmentation.scale_std = "25%"
    segmentation.baysor.config.segmentation.prior_segmentation_confidence = 0
    segmentation.baysor.config.segmentation.estimate_scale_from_centers = false
    segmentation.baysor.config.segmentation.n_clusters = 4
    segmentation.baysor.config.segmentation.iters = 500
    segmentation.baysor.config.segmentation.n_cells_init = 0
    segmentation.baysor.config.segmentation.nuclei_genes = ""
    segmentation.baysor.config.segmentation.cyto_genes = ""

    aggregate.aggregate_channels = true
    aggregate.min_transcripts = 5

    explorer.ram_threshold_gb = 4
    explorer.pixel_size = 0.1
}
