/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sopa -profile test_baysor,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${baseDir}/tests/samplesheet.csv"

    // Reader
    technology = "toy_dataset"

    // Patches options
    patch_width_microns = 150
    patch_overlap_microns = 10

    // Baysor segmentation
    use_baysor = true
    baysor_scale = 3
    min_molecules_per_cell = 10
    min_molecules_per_gene = 0
    min_molecules_per_segment = 3
    confidence_nn_id = 6
    prior_segmentation_confidence = 0

    // Filtering
    min_area_microns2 = 10
    min_transcripts = 5

    // Agregation
    aggregate_channels = true

    // Annotation
    use_tangram = true
    sc_reference_path = "https://github.com/prism-oncology/sopa/raw/refs/heads/main/tests/toy_tangram_ref.h5ad"
    tangram_cell_type_key = "ct"

    // Explorer
    ram_threshold_gb = 4
    pixel_size = 0.1
}
